.content {
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

.yoyo {
  max-height: 70vh;
  width: auto;
}

img {
  width: 100%;
}

h2 {
  font-weight: 100;
}

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .yoyo {
    max-height: 70vh;
    width: 100%;
  }
  img {
    width: 100%;
  }
}
