.statement-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.statement-image {
  height: 700px;
  margin: auto;
}

.statement-image img {
  height: inherit;
}

.text-box {
  padding: 30px;
}

.me-drawing-mobile {
  display: none;
}

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .statement-wrapper {
    grid-template-columns: 1fr;
  }

  .me-photo {
    display: none;
  }

  .text-box {
    padding-top: 0;
  }

  .statement-image-wrapper {
    padding: 0px;
    grid-template-columns: 1fr;
  }

  .statement-image-mobile {
    height: none;
  }

  .statement-image-mobile img {
    width: 100%;
    height: none;
  }
}
